body {
    padding: 0 10%;
    /* TODO: Suttle paper texture background*/
}

#quote {
    /*margin-top: calc(50% - 189px); /* TODO: Do it with JS and the actual height of the quote */
}

#text {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 6vw;
    color: #909090;
    margin-top: 0;
}

#text.landscape {
    font-size: 6vh;
}

#text strong {
    font-weight: 400;
    color: #565656;
}

#source {
    font-size: 3vh;
    text-align: right;
    margin-top: 20px;
    color: #5f5f5f;
}