<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    {% block content %}{% endblock %}

    <script src="/static/js/jquery-3.3.1.mins.js"></script>
    <script src="/static/js/clock.js"></script>
</body>
</html>