{% extends "base.html" %}

{% block content %}
    <main id="content">
        <div id="quote">
            <p id="text"></p>
            <p id="source">
                — <span id="book"></span>, <span id="author"></span>
            </p>
        </div>
    </main>
{% endblock content %}